<main class="m-5">
    <div class="cotainer vertical-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <form action="{% url 'search_result' %}" method="get">
                            {% csrf_token %}
                            <table class="table table-striped table-hover">
                                {{ form.as_table }}
                            </table>
                            <button class="btn btn-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
