{% extends 'utils/wrappers/companies_preview_wrapper.html' %}

{% load static %}
{% block categories_posts %}
    {% include 'companies_preview/categories_posts.html' %}
{% endblock %}

{% block companies_preview %}

    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% include 'companies_preview/companies_preview.html' %}
                        {% include 'companies_preview/companies_pagination.html' %}
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'companies_preview/search_companies.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}