<!-- Start Filter Bar -->
{% load static i18n %}
<div class="filter-bar d-flex flex-wrap align-items-center">
    <
    <form action="#" method="get" class="row container">
        {% csrf_token %}
        <div class="sorting">
            <select name="sort" onchange="this.form.submit()">
                <option value="1">{% trans 'Date added ascending' %}</option>
                <option value="2">{% trans 'Date dadded descending' %}</option>
            </select>
        </div>
        <div class="sorting mr-auto">
            <select name="show" onchange="this.form.submit()">
                <option value="5">{% trans 'Show' %} 5</option>
                <option value="10">{% trans 'Show' %} 10</option>
                <option value="15">{% trans 'Show' %} 15</option>
            </select>
        </div>
    </form>


    <div class="pagination">
        <a {% if notifications.has_previous %}
            href="?page={{ notifications.previous_page_number }}&{{ search_params }}" {% endif %}
            class="prev-arrow">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        <a href="?page=1&{{ search_params }}" {% if notifications.number == 1 %} class="active" {% endif %}>1</a>
        {% if notifications.paginator.num_pages > 1 %}
            <a href="?page=2&{{ search_params }}" {% if notifications.number == 2 %} class="active" {% endif %}>2</a>
        {% endif %}

        {% if notifications.number > 3 %}
            <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
            <a href="?page={{ notifications.previous_page_number }}&{{ search_params }}">
                {{ notifications.previous_page_number }}</a>
            <a href="?page={{ notifications.number }}&{{ search_params }}" class="active">
                {{ notifications.number }}</a>
        {% elif notifications.number > 2 %}
            <a href="?page={{ notifications.number }}&{{ search_params }}" class="active">
                {{ notifications.number }}</a>
        {% endif %}

        {% if notifications.paginator.num_pages > 3 %}
            {% if notifications.has_next and notifications.next_page_number != 2 %}
                <a href="?page={{ notifications.next_page_number }}&{{ search_params }}">
                    {{ notifications.next_page_number }}</a>
            {% endif %}

            {% if notifications.next_page_number != notifications.paginator.num_pages %}
                <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <a href="?page={{ notifications.paginator.num_pages }}&{{ search_params }}"
                        {% if notifications.number == notifications.paginator.num_pages %} class="active" {% endif %} >
                    {{ notifications.paginator.num_pages }}</a>
            {% endif %}

        {% endif %}
        <a {% if notifications.has_next %}
            href="?page={{ notifications.paginator.num_pages }}&{{ search_params }}" {% endif %}
            class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Filter Bar -->
