{% load notifications_tags %}
{% load static i18n %}

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        {% notifications_unread as unread_count %}
        {% if unread_count %}

            <div class="check_title" style="background-color: #e8f0f2; padding: 5px">
                <h5 class="text-secondary text-center"> {% trans 'You have' %} <strong
                        style="color: #C5322D">{{ unread_count }}</strong> {% trans 'unread notifications' %}. </h5>
            </div>
        {% endif %}
        <div class="cart_inner">
            <div class="table-responsive table-hover">
                <table class="table" id="notifies_table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'User' %}</th>
                        <th scope="col">{% trans 'Cargo' %}</th>
                        <th scope="col">{% trans 'Message' %}</th>
                        <th scope="col">{% trans 'Description' %}</th>
                        <th scope="col">{% trans 'Timestamp' %}</th>
                        <th scope="col">{% trans 'Info' %}</th>
                        <th scope="col">{% trans 'Remove' %}</th>
                        <th scope="col">{% trans 'Ignore' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'notifications_pages/notifications_unread_first.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->