{% load static i18n %}
<!--================Single Product Area =================-->
<div class="product_image_area mb-5">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3><a href="/notifications_pages/{{ notification.id }}">{% trans 'Cargo has spoilt' %}</a></h3>
                    <h2>#{{ notification.id }}</h2>
                    <ul class="list">
                        <li>
                            <div class="active"><strong>{% trans 'User' %}</strong> : {{ notification.recipient }}</div>
                        </li>
                        <li>
                            <div><strong>{% trans 'Cargo' %}</strong> :
                                {% if notification.actor %}
                                    {{ notification.actor }}
                                {% else %}
                                    <span class="text-secondary">{% trans 'Nothing' %}...</span>
                                {% endif %}</div>
                        </li>
                    </ul>
                    <p>
                        {% if notification.verb %}
                            {{ notification.verb }}
                        {% else %}
                            {% trans 'No message provided' %}...
                        {% endif %}
                    </p>

                    <div class="product_count">

                        <div class="text"><strong>{% trans 'Timestamp' %}:</strong> {{ notification.timestamp }}</div>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <button class="btn icon_btn ignore-single" {% if not notification.unread %}
                                disabled {% endif %}><span class="lnr lnr-volume"></span></button>
                        <button class="btn primary-btn remove-single">{% trans 'Remove' %}</button>
                        <button class="btn icon_btn unignore-single" {% if notification.unread %}
                                disabled {% endif %}><span class="lnr lnr-volume-high"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
