<table class="table table-hover table-bordered table-striped">
    <tbody>
    <tr>
        <td>#</td>
        <th scope="row">{{ notification.id }}</th>
    </tr>
    <tr>
        <td>User:</td>
        <td>{{ notification.recipient }}</td>
    </tr>
    <tr>
        <td>Cargo:</td>
        {% if notification.actor %}
            <td>{{ notification.actor }}</td>
        {% else %}
            <td class="text-secondary">Nothing...</td>
        {% endif %}
    </tr>
    <tr>
        <td>Message:</td>
        {% if notification.verb %}
            <td>{{ notification.verb }}</td>
        {% else %}
            <td class="text-secondary">Nothing...</td>
        {% endif %}
    </tr>
    <tr>
        <td>Description:</td>
        {% if notification.description %}
            <td>{{ notification.description }}</td>
        {% else %}
            <td class="text-secondary">Nothing...</td>
        {% endif %}
    </tr>
    <tr>
        <td>Timestamp</td>
        <td>{{ notification.timestamp|date:"SHORT_DATE_FORMAT" }} {{ notification.timestamp|time:"h:i a" }}</td>
    </tr>
    </tbody>
</table>
<div class="container-fluid">
    <button type="button" class="btn btn-danger col-md-2">Remove</button>
    <button type="button" class="btn btn-warning col-md-2">Ignore</button>
</div>

