<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Cargos</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for cargo in cargos_index %}
                    <!-- single product -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <div class="product-details">
                                <h6>{{ cargo.title }}</h6>
                                <p>
                                    {{ cargo.cell }}
                                </p>
                                <div class="price">
                                    <h6 class="text text-warning">#{{ cargo.id }}</h6>
                                    <h6 class="text text-secondary">{{ cargo.date_added }}</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="{% url 'preview_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-magnifier"></span>
                                        <p class="hover-text">View</p>
                                    </a>
                                    <a href="{% url 'update_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">Update</p>
                                    </a>
                                    <a href="{% url 'delete_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-trash"></span>
                                        <p class="hover-text">Remove</p>
                                    </a>
                                    <a href="{% url 'ret_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-rocket"></span>
                                        <p class="hover-text">Retrieve</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Dated cargos</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for cargo in cargos_dated_index %}
                    <!-- single product -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <div class="product-details">
                                <h6>{{ cargo.title }}</h6>
                                <p>
                                    {{ cargo.cell }}
                                </p>
                                <div class="price">
                                    <h6 class="text text-warning">#{{ cargo.id }}</h6>
                                    <h6 class="text text-secondary">{{ cargo.date_dated }}</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="{% url 'preview_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-magnifier"></span>
                                        <p class="hover-text">View</p>
                                    </a>
                                    <a href="{% url 'update_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">Update</p>
                                    </a>
                                    <a href="{% url 'delete_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-trash"></span>
                                        <p class="hover-text">Remove</p>
                                    </a>
                                    <a href="{% url 'ret_cargo' pk=cargo.id %}" class="social-info">
                                        <span class="lnr lnr-rocket"></span>
                                        <p class="hover-text">Retrieve</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- end product Area -->