{% load static i18n %}
{% load notifications_tags %}

<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static 'img/fav.png' %}" alt="">
                    <span class="text text-secondary">Coordinate A.</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link"> {% trans "Manage Storage" %} </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'preview_cargos' %}" class="nav-link"> {% trans "View Storage" %} </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'new_cargo' %}" class="nav-link"> {% trans "Add new cargo" %} </a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">{% trans "Company" %}</a>
                                <ul class="dropdown-menu">
                                    {#                                    {% if not company %}#}
                                    <li class="nav-item"><a class="nav-link"
                                                            href="{% url 'users:company_register' %}">{% trans "Create company" %}</a>
                                    </li>
                                    {#                                    {% endif %}#}
                                    {% if company %}
                                        <li class="nav-item"><a class="nav-link"
                                                                href="{% url 'users:company_preview' pk=company.pk %}">{% trans "Preview company" %}</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item"><a class="nav-link"
                                                            href="{% url 'users:companies_preview' %}">{% trans "Preview companies" %}</a>
                                    </li>
                                </ul>
                            </li>

                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="list-inline-item">
                                <a class="btn btn-warning" href="{% url 'users:personal_page' username=user.username %}"
                                   role="button">{{ user.username }} <span
                                        class="ti-package"></span> {% live_notify_badge badge_class="badge badge-light" %}
                                </a>
                            </li>
                            {% if user.is_superuser %}
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary" href="{% url 'admin:index' %}"
                                       role="button"><i class="fa fa-user-secret"
                                                        aria-hidden="true"></i> {% trans "Admin panel" %}</a>
                                </li>
                            {% endif %}

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                            </li>
                            <li class="nav-item"><a href="{% url 'users:sign_in' %}?action=out">{% trans "Log out" %}
                                <span
                                        class="ti-shift-right"></span></a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link text-success"
                                                    href="{% url 'users:sign_in' %}">{% trans "Sign In" %} <span
                                    class="ti-shift-left"></span></a></li>
                        </ul>
                    {% endif %}

                </div>
            </div>
        </nav>
    </div>
    {% include 'utils/includes/../../../../../cargos_main/templates/search/search_form.html' %}
</header>
<!-- End Header Area -->