<main class="m-5">
    <div class="cotainer vertical-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Internal server error occurred</div>
                    <div class="card-body">
                        <p>
                            {{ msg }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>