{% load crispy_forms_tags %}
{% load static i18n %}

<div class="container mt-5 mb-3">
    <div class="returning_customer">

        <div class="row d-flex justify-content-center">
            <div class="check_title mb-3 col-md-9">
                <h2>{% trans 'Want to see the existing cargos?' %} <a
                        href="{% url 'preview_cargos' %}">{% trans 'Click here to go' %}</a></h2>
            </div>
            <form class="contact_form col-md-10" action="#" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.title|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                    {{ form.storage|as_crispy_field }}
                </div>
                    <div class="form-group col-md-4 mb-0">
                    {{ form.rotatable|as_crispy_field }}
                </div>
                </div>
                {{ form.height|as_crispy_field }}
                {{ form.length|as_crispy_field }}
                {{ form.width|as_crispy_field }}
                <div class="form-row">
                    {{ form.description|as_crispy_field }}
                    <div class="form-group col-md-6">
                        {{ form.date_added|as_crispy_field }}
                        {{ form.date_dated|as_crispy_field }}
                    </div>
                </div>

                <div class="col-md-12 form-group row d-flex justify-content-center">
                    <button type="submit" class="btn primary-btn">{% trans 'Add cargo' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
