{% load i18n %}
<div class="text-center h3 mt-5 mb-5">{% trans "Create your company account" %}</div>
<div class="container">
    <div class="row">
        <form action="{% url 'users:company_register' %}" method="post"
              class="col-md-6 offset-md-3 text-center company-creation">
            {% csrf_token %}

            <div class="form-group row">
                <label class="col-form-label col-sm-2 pr-0" for="id_logo">{% trans "Logo:" %} </label>
                <div class="col-sm-10 input-group mb-2 pl-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">🚚</div>
                    </div>
                    {{ form.logo }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2 pr-0" for="id_vendor">{% trans "Vendor:" %} </label>
                <div class="col-sm-10 input-group mb-2 pl-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">🚚</div>
                    </div>
                    {{ form.vendor }}
                </div>
            </div>

            <div class="form-group row leader-select">
                <label class="col-form-label col-sm-2 pr-0" for="id_leader">{% trans "Leader:" %}</label>
                <div class="col-sm-10 input-group pl-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">👨‍⚖️</div>
                    </div>
                    {{ form.leader }}
                </div>
                <div class="offset-md-2">
                    <small>
                        <a href="{% url 'users:sign_up' %}"
                           class="create_leader">{% trans "Do not have a leader yet? Create one!" %}</a>
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2 pr-0" for="id_website">{% trans "Website:" %}</label>
                <div class="col-sm-10 input-group mb-2 pl-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">🌐</div>
                    </div>
                    {{ form.website }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2 pr-0" for="id_description">{% trans "Description:" %}</label>
                <div class="col-sm-10 input-group mb-2 pl-1">
                    {{ form.description }}
                </div>
            </div>

            <div class="form-group mb-5">
                <button type="submit" class="btn btn-outline-warning">{% trans "Create Company!" %}</button>
            </div>
        </form>
    </div>
</div>

