{% load static i18n %}
{% load notifications_tags %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static "img/fav.png" %}">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <!--
        CSS
        ============================================= -->
    {% include 'utils/includes/css/common_css_web.html' %}
    {% include 'utils/includes/css/common_css_static.html' %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% include 'utils/includes/page_template/menu.html' %}

{% if is_index %}
    {% include 'utils//includes/page_template/index_banner.html' %}
{% else %}
    {% include 'utils//includes/page_template/banner.html' %}
{% endif %}

{% block content %}
{% endblock %}

{% include 'utils/includes/page_template/footer.html' %}

</body>

{% include 'utils/includes/js/common_js_web.html' %}

{% include 'utils/includes/js/common_js_static.html' %}

{% include 'utils/includes/js/notifications_ajax.html' %}
{% if is_notifies %}
    {% include 'utils/includes/js/manage_notifications_ajax.html' %}
{% endif %}
{% if is_notify_single %}
    {% include 'utils/includes/js/notification_single_ajax.html' %}
{% endif %}

<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
</html>
