{% extends "utils/wrappers/wrapper.html" %}
{% load crispy_forms_filters %}

{% block title %}Update Cargo{% endblock %}

{% block menu %}
    {% include 'utils/includes/page_template/menu.html' %}
{% endblock %}

{% block content %}
    {% load static i18n %}
    {% load crispy_forms_tags %}
    <div class="container mt-5 mb-3">
        <div class="returning_customer">

            <div class="row d-flex justify-content-center">
                <div class="check_title mb-3 col-md-9">
                    <h2>{% trans 'Want to see the existing cargos?' %} <a
                            href="{% url 'preview_cargos' %}">{% trans 'Click here to go' %}</a></h2>
                </div>
                <form class="contact_form col-md-10" action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group col-md-8 mb-0">
                            {{ form.title|as_crispy_field }}

                        </div>
                    <div class="form-group col-md-8">
                                {{ form.description|as_crispy_field }}
                            </div>

                    <div class="form-group col-md-8">
                                {{ form.date_dated|as_crispy_field }}
                            </div>

                    <div class="col-md-12 row d-flex justify-content-center">
                        <input type="submit" value="Update" class="btn primary-btn"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}