{% extends "../../utils/wrappers/wrapper.html" %}

{% block title %}Delete Cargo{% endblock %}

{% block menu %}
    {% include '../../utils/includes/menu.html' %}
{% endblock %}

{% block content %}
    <h1 class="text-center text-secondary"> Delete Cargo </h1>
    <div class="container-fluid">
        <form method="post" action="#">
            {% csrf_token %}
            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <td>Cargo: </td>
                    <td>{{ cargo }}</td>
                </tr>
            </table>
            <input type="submit" value="Delete" class="btn btn-primary">
        </form>
    </div>
{% endblock %}